.checkbox {
  width: 20px;
  height: 20px;

  border-radius: 3px;
  background-color: var(--color-12);
  
  appearance: none;
  flex-shrink: 0;
}

.checkbox:checked {
  background-image: url(src/assets/icons/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}