@layer {

  .label {
    display: flex;
    gap: 6px 4px;
  }

  .label--kind-0 {
    align-items: center;
    justify-content: center;
  }

  .label--kind-1 {
    flex-direction: column;    
  }

  .label--kind-2 {
    align-items: center;
    justify-content: flex-start;
  }

}
