:root {
  --font-family-0: 'gg sans', sans-serif;
  --font-family-1: 'ginto nord', sans-serif;

  --placeholder-color-0: #ff00ff;
  --placeholder-color-1: #00ff00;

  --color-0: #23272a;
  --color-1: #313338;
  --color-2: #1e1f22;
  --color-3: #2b2d31;
  --color-4: #f2f3f5;
  --color-5: #b5bac1;
  --color-6: #949ba4;
  --color-7: #dbdee1;
  --color-8: #f23f42;
  --color-9: #00a8fc;
  --color-10: #35373c;
  --color-11: #404249;
  --color-12: #ffffff;
  --color-13: #5865f2;
  --color-14: #4752c4;
  --color-15: #404eed;
  --color-16: #24282c;
  --color-17: #7983f5;
  --color-18: #7289da;

  --bg-0: var(--color-1);
  --bg-1: var(--color-2);
  --bg-2: var(--color-3);
  --bg-3: var(--color-15);

  --font-size-0: clamp(16px, 2vw, 20px);
  --font-size-up-1: clamp(24px, 5vw, 44px);
}