.centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  width: 480px;
  padding: 32px;

  background-color: var(--bg-0);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;

  box-sizing: border-box;
}

.form {
  display: grid;
  gap: 16px;

  margin: 16px 0;
}